<html>
  <head>
    <title><%= config.get('title') %> Browser Extension</title>

    <link rel='stylesheet' href='/a/style.css'/>
  </head>
  <div id='state'>
    
    <h1><%= config.get('title') %> Browser Extension</h1>

    <div class='loggedOut' id='loginBox'>
      <div>
        <label for='callerId'>Username</label>
        <input type='text' id='calleeId'/>
        <span class='domain'>@<%= config.get('domain') %></span>
        <input type='hidden' id='domain' value='<%= config.get("domain") %>'/>
      </div>
      <div>
        <label for='password'>Password</label>
        <input type='password' id='password' name='password'/>
      </div>
      <button id='loginForRealz'>Log in</button>

    </div>

    <div class='loggedIn' id='dialBox'>
      <label for='calleeId'>Call</label>
      <% if (!!calleeId) { %>
        <input type='input' name='calleeId' id='calleeId' value='<%= calleeId%>' disabled='true'/>
      <% } else { %>
        <input type='input' name='calleeId' id='calleeId' />
      <% } %>
      <button id='dial'>Dial</button>
    </div>
    
  </div>
  <script src="/a/app.min.js"></script>
</html>